= simple_form_for @ticket, :html => { :class => 'form-horizontal' } do |f|
  .row
    .col-md-6
      = f.input :title
    .col-md-6
      = f.input :customer_id, collection: Customer.all, label_method: :name, value_method: :id
  .row
    .col-md-12
      = f.input :description
  .row
  = f.button :submit, :class => 'btn-primary'
  = link_to t('.cancel', :default => t("helpers.links.cancel")), tickets_path, :class => 'btn btn-default'
