= simple_form_for @ticket, :html => { :class => 'form-horizontal' } do |f|
  = f.input :title
  = f.error_span :title
  = f.input :description
  = f.error_span :description
  = f.button :submit, :class => 'btn-primary'
  = link_to t('.cancel', :default => t("helpers.links.cancel")), tickets_path, :class => 'btn btn-default'
