- model_class = Ticket
-# update title/description
.page-header
  %h1 Edit Ticket ##{@ticket.id}
-# create new ticket note form
= render partial: "form"
-# listing of all ticket_notes
= render partial: "ticket_note_form"
%table.table.table-striped
  %tr
    %th Note
    %th Created at
  - @ticket_notes.each do | ticket_note |
    %tr
      %td= ticket_note.note
      %td= ticket_note.created_at
